# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

face-recognition=1.3.0
matplotlib=3.4.2
numpy=1.20.3
opencv=4.5.1
pandas=1.3.3
python=3.9.7=h12debd9_1
scikit-learn=0.24.2
seaborn=0.11.2
